// Colors HEX
$white: #FFFFFF;
$dark: #252429;
$color-font: #4D4D4D;
$darkBlue: #1a1156;
$lightBlue: #2EC3E9;
$activeLightBlue:#45D4F8;
$tile_title_bottom_border: #797979;
$color-bg-input:#F5F5F5;
$green: #65B042;
$lightGreen:#3FDD7E;
$darkGreen: #173409;
$orange: #F79F53;
$blue: #2e5de9;
$red: #FF0000;
$lightRed:#FF6C58;
$transparent: transparent;
$login_background: #D5F3FB;
$map_color: #5D5A6D;
$btn_back: #DFDFDF;
$confirmed: #49C179;
$denied: #FF586C;

$color-icon-gray:#CECECE;
$color-activeIcon-gray:#2EC3E9;
$color-bg-menu:#D5F3FB;
$grey: #cccccc;
$color-font-copy:#8D8D8D;
$color-bg-dash: #EBEBEB;
$point-color-gray: #C4C4C4;

$lightGrey: #F3F3F3;
$secondGrey: #DDDDDD;

$map_geographies_fill_dark: #3f3e40;
$map_geographies_stroke_dark: #3f3e40;
$q_icon_bg: #828282;

// Colors RGBA
$tile_background: rgba(238, 238, 238, 1);
$tile_background_dark: #4D4C4F;
$border_color_gray:rgba(0, 0, 0, 0.79);
$page_background: #f3f3f3;
$page_background_dark: #252429;;

$tile_title: rgba(64, 64, 64, 0.5);
$tile_title_bottom_border: rgba(215, 215, 215, 1);

// Fonts
$common-font:'Lato', sans-serif;
$second-font:'Roboto', sans-serif




